h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

.banner{
  /*background:url('images/blog/adustio-banner.jpg');*/
  background-color: #eee;
  height: 400px;
  background-position: center;
}

.banner h1{
  line-height: 400px;
  text-align: center;
  margin: 0;
}

.banner span{
  font-size: 12px;
}

.about{
  background-color: #ccc;
}

.equal{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.soundcloudEmbed > iframe{
  width: 100%;
}

[id^='youtubeVideo'] > iframe{
  height: 100%;
}

.footer{
  background-color: #333;
  color: #ccc;
  height: 100px;
}

#scroll-btn, #more-btn{
  display: inline-block;
  background-color: #c12626;
  padding: 10px 16.5px;
  border-radius: 20px;
  margin-top: -40px;
  margin-right: 5px;
  text-decoration: none!important;
  transition: all 200ms;
}

#scroll-btn p, #more-btn p{
  margin: 0;
  color: #fff;
}

#scroll-btn:hover, #more-btn:hover{
  background-color: #e03131;
  box-shadow: 0 0 10px #c12626;
}
