.banner{
  background:url('images/adustio-banner.jpg');
  height: 300px;
  background-position: center;
  color: #fff;
}

.banner h1{
  line-height: 300px;
  text-align: center;
  margin: 0;
}

.banner span{
  font-size: 12px;
}

.about{
  background-color: #ccc;
}

.footer{
  background-color: #333;
  color: #ccc;
  height: 100px;
}
