    <div class="container-fluid footer">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p>Länkar till sociala medier osv här kanske?</p>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
     integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
