<!-- the default page for the admin -->
{% include 'login/_header.html' %}

{% block content %}

<table style="border: 1px red solid" width="1200px">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
    <th>Pinned?</th>
    <th>Youtube</th>
    <th>Soundcloud</th>
    <th>Date</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ post.pk }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.text }}</td>
    <td>{{ post.pinned }}</td>
    <td>{{ post.youtube }}</td>
    <td>{{ post.soundcloud }}</td>
    <td>{{ post.date }}</td>
  </tr>
  {% endfor %}
</table>
{% for post in posts %}
  <form action='/admin/editpost/{{ post.pk }}/' method="post">
    {% csrf_token %}
    <input type="submit" value="Edit post {{ post.pk }}" />
  </form>
  <form action="/admin/deletepost/{{ post.pk }}/" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete post {{ post.pk }}" />
  </form>
  <!--<a href="/accounts/deletepost?id={{ post.pk }}">Delete</a>
  <a href="/accounts/editpost?id={{ post.pk }}">Edit<a/></br>-->
{% endfor %}
<p><a href="/admin/addpost/">Add Post</a></p>
<p><a href="/logout/">Logout</a></p>

{% endblock %}
{% include 'login/_footer.html' %}
