<!-- The page for editing posts -->
{% include 'login/_header.html' %}

{% block content %}
{% for post in posts %}

<!--<p>{{ form.title.auto_id }}{{ form.text.auto_id }}</p>-->

<form action="/admin/editpost/auth/{{ post.pk }}/" method="post">
    <!-- Display the forms for editing an existing post-->
    {% csrf_token %}
    {{ form.title.label_tag }}{{ form.title }}
    {{ form.text.label_tag }}{{ form.text }}
    {{ form.youtube.label_tag }}{{ form.youtube }}
    {{ form.soundcloud.label_tag }}{{ form.soundcloud }}
    <input type="submit" value="Submit" />
</form>

<script>
  window.onload = function insertTitle() {
    //Inserts the current value of each field from the database and puts it into the input element of each field
    var title = document.getElementById('id_title')
    title.value = '{{ post.title }}'

    var text = document.getElementById('id_text')
    text.value = '{{ post.text }}'

    var youtube = document.getElementById('id_youtube')
    youtube.value = '{{ post.youtube }}'

    var soundcloud = document.getElementById('id_soundcloud')
    soundcloud.value = '{{ post.soundcloud }}'
  }
</script>
{% endfor %}
{% endblock %}
{% include 'login/_footer.html' %}
<p>{{ post.title }}</p><p>{{ post.text }}</p><p>{{ post.date }}</p>
