{% include 'blog/_header.html' %}
  <div class="container">
    {% for post in pinnedPosts %}
      <!--<div class="row equal" style="margin-top:10px;margin-bottom:10px;">
        <div class="col-sm-4 col-sm-offset-2" style="background-color:#ccc;">
          <div id='youtubeVideo{{ post.pk }}'></div>
          <div class="soundcloud{{ post.pk }}"></div>
        </div>
        <div class="col-sm-4">
          <h2>{{ post.title }}</h2>
          <p>{{ post.text }}</p>
          <p>{{ post.youtube }}</p>
          <p>{{ post.soundcloud }}</p>
          <i>{{ post.date }}</i>
        </div>
      </div>-->
    {% endfor %}
  </div>
  <div class="container-fluid about" style="margin-bottom:10px">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <p>Hej jag heter Adustio osv osv Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget ornare ante, at sollicitudin tellus. Mauris mi arcu, fermentum id vulputate a, aliquam vitae ante. Ut aliquet pharetra felis vitae consectetur. Suspendisse a tortor vitae sem iaculis elementum. Aenean ut tincidunt leo, at aliquam sem. Maecenas iaculis porta felis vitae ultricies. Phasellus vestibulum, felis vehicula commodo pulvinar, nunc ex interdum augue, ac sollicitudin eros metus eget est.</p>
      </div>
      <div class="col-sm-2" style="background-color:#777;color:#fff;margin-top:10px;">
        <p>Bild på honom kanske?</p>
      </div>
    </div>
  </div>
  <div class="container">
    {% for post in posts %}
      <div class="row equal" style="margin-bottom:10px">
        <div class="col-sm-4 col-sm-offset-2" style="background-color:#ccc;">
          <div id='youtubeVideo{{ post.pk }}'></div>
          <div class="soundcloud{{ post.pk }}"></div>
        </div>
        <div class="col-sm-4">
          <h2>{{ post.title }}</h2>
          <p>{{ post.text }}</p>
          <p>{{ post.youtube }}</p>
          <p>{{ post.soundcloud }}</p>
          <i>{{ post.date }}</i>
        </div>
      </div>
    {% endfor %}
      <div class="pagination">
      <span class="step-links">
          {% if posts.has_previous %}
              <a href="?page={{ posts.previous_page_number }}">Previous</a>
          {% endif %}
          <span class="current">
              Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
          </span>
          {% if posts.has_next %}
              <a href="?page={{ posts.next_page_number }}">Next</a>
          {% endif %}
      </span>
    </div>
  </div>
{% include 'blog/_footer.html' %}
<!-- Script running area -->
{% for post in posts %}
  <script>
    // If post has a youtube video link in its database field, give it an ID to the function below and embed it
    if('{{ post.youtube }}'){
      //Calls the embedder function, inserts current Post's primary key as its argument
      youtubeEmbedder('{{ post.youtube }}', '{{ post.pk }}', '#youtubeVideo');
    }
    // Takes a soundcloud URL and embedds it
    if('{{ post.soundcloud }}'){
      //This little function applies the classes necessary for soundcloudEmbedder() to work
      function soundcloudEmbedder(id) {
        $('.soundcloud' + id).attr('sc_url', '{{ post.soundcloud }}')
        $('.soundcloud' + id).addClass('soundcloudEmbed')
      }
      soundcloudEmbedder('{{ post.pk }}')
    }
  </script>
{% endfor %}
