{% include 'blog/_header.html' %}

  <div class="container">
    {% for post in posts|slice:":1" %}
      <div class="row" style="margin-top:10px">
        <div class="col-sm-4 col-sm-offset-2">
          <p>PINNED</p>
        </div>
      </div>
      <div class="row" style="margin-bottom:10px">
        <div class="col-sm-4 col-sm-offset-2">

        </div>
        <div class="col-sm-4">
          <h2>{{ post.title }}</h2>
          <p>{{ post.text }}</p>
          <p>{{ post.youtube }}</p>
          <i>{{ post.date }}</i>
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="container-fluid about" style="margin-bottom:10px">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <p>Hej jag heter Adustio osv osv Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget ornare ante, at sollicitudin tellus. Mauris mi arcu, fermentum id vulputate a, aliquam vitae ante. Ut aliquet pharetra felis vitae consectetur. Suspendisse a tortor vitae sem iaculis elementum. Aenean ut tincidunt leo, at aliquam sem. Maecenas iaculis porta felis vitae ultricies. Phasellus vestibulum, felis vehicula commodo pulvinar, nunc ex interdum augue, ac sollicitudin eros metus eget est.</p>
      </div>
      <div class="col-sm-2" style="background-color:#777;color:#fff;margin-top:10px;">
        <p>Bild på honom kanske?</p>
      </div>
    </div>
  </div>
  <script>
    var i = 0
    var j = i + 5
    var dynSlice = i +':' + j
  </script>
  <div class="container">
    {% for post in posts|slice:"0:5" %}
      <div class="row" style="margin-bottom:10px">
        <div class="col-sm-4 col-sm-offset-2">
          <div id='youtubeVideo{{ post.pk }}'>
            <script id="youtubeEmbeddingScript">
                // If post has a youtube video link in its database field, give it an ID to the function below and embed it
                if('{{ post.youtube }}'){
                  //Takes the url and retreieves the so called Id
                  function getId(url) {
                    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/
                    var match = url.match(regExp)
                    if (match && match[2].length == 11) {
                        return match[2]
                    } else {
                        return 'error'
                    }
                  }
                  //Generates HTML code based on the Id from the getId()-function and then adds the HTML to the div surrounding this <script>
                  //The id-argument tells the function exactly which <div> it should add the HTML-code to, since all this code is inside a forloop it needs a specific ID which is the Primary Key of the current Post-object.
                  function youtubeEmbedder(id) {
                    var videoId = getId('{{ post.youtube }}')
                    $('#youtubeVideo' + id).html('<iframe src="//www.youtube.com/embed/' + videoId + '" frameborder="0" allowfullscreen style="width:100%;"></iframe>')
                  }
                  //Calls the function above, inserts current Post's primary key as its argument
                  youtubeEmbedder('{{ post.pk }}')
                }
            </script>
          </div>
            <div class="soundcloud{{ post.pk }}">
              <script>
              // Takes a soundcloud URL and embedds it
                if('{{ post.soundcloud }}'){
                  function soundcloudEmbedder(id) {
                    $('.soundcloud' + id).attr('sc_url', '{{ post.soundcloud }}')
                    $('.soundcloud' + id).addClass('soundcloudEmbed')
                  }
                  soundcloudEmbedder('{{ post.pk }}')
                }
                i++
              </script>
            </div>
        </div>
        <div class="col-sm-4">
          <h2>{{ post.title }}</h2>
          <p>{{ post.text }}</p>
          <p>{{ post.youtube }}</p>
          <p>{{ post.soundcloud }}</p>
          <i>{{ post.date }}</i>
        </div>
      </div>
    {% endfor %}
  </div>
{% include 'blog/_footer.html' %}
