<!-- Template for displaying posts in their own URL -->
  {% include 'blog/_header.html' %}
  <div class="container">
    {% for post in posts %}
      <div class="row" style="margin-bottom:10px">
        <div class="col-sm-4 col-sm-offset-2">
            <div id='youtubeVideo{{ post.pk }}'>

            </div>
            <div class="soundcloud{{ post.pk }}">

            </div>
        </div>
        <div class="col-sm-4">
          <h2>{{ post.title }}</h2>
          <p>{{ post.text }}</p>
          <i>{{ post.date }}</i>
        </div>
      </div>
    {% endfor %}
    <p>{{ videos }}</p>
  </div>
{% include 'blog/_footer.html' %}
<!-- Script running area -->
{% for post in posts %}
<script>
  // If post has a youtube video link in its database field, give it an ID to the function below and embed it
  if('{{ post.youtube }}'){
    //Calls the embedder function, inserts current Post's primary key as its argument
    youtubeEmbedder('{{ post.youtube }}', '{{ post.pk }}', '#youtubeVideo');
  }
  // Takes a soundcloud URL and embedds it
  if('{{ post.soundcloud }}'){
    //This little function applies the classes necessary for soundcloudEmbedder() to work
    function soundcloudEmbedder(id) {
      $('.soundcloud' + id).attr('sc_url', '{{ post.soundcloud }}')
      $('.soundcloud' + id).addClass('soundcloudEmbed')
    }
    soundcloudEmbedder('{{ post.pk }}')
  }
</script>
{% endfor %}
